button{
    position: absolute;
    left: 13%;
    top: 15%;
}

.text{
    position: absolute;
    left: 5%;
    top: 15%;
}

.mat-icon{
    height:58px !important;
    width:58px !important;
    font-size:38px !important;
}